<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'apartments'}); -%>
    <main class="p-3">
      <table class="table">
        <thead>
          <tr>
            <th class="border-0"><a href="/apartments?sort=n_rooms" class="btn <%= (order === 'n_rooms') ? 'btn-dark' : 'btn-primary' -%>">Number of rooms</a></th>
            <th class="border-0"><a href="/apartments?sort=n_bathrooms" class="btn <%= (order === 'n_bathrooms') ? 'btn-dark' : 'btn-primary' -%>">Number of bathrooms</a></th>
            <th class="border-0"><a href="/apartments?sort=listed" class="btn <%= (order === 'listed') ? 'btn-dark' : 'btn-primary' -%>">Listed</a></th>
            <th class="border-0"><a href="/apartments?sort=furnished" class="btn <%= (order === 'furnished') ? 'btn-dark' : 'btn-primary' -%>">Furnished</a></th>
            <th class="border-0"><a href="/apartments?sort=floor" class="btn <%= (order === 'floor') ? 'btn-dark' : 'btn-primary' -%>">Floor</a></th>
            <th class="border-0"><a href="/apartments?sort=sqFoot" class="btn <%= (order === 'sqFoot') ? 'btn-dark' : 'btn-primary' -%>">Square Footage</a></th>
            <th class="border-0"><a href="/apartments?sort=pets" class="btn <%= (order === 'pets') ? 'btn-dark' : 'btn-primary' -%>">Pets</a></th>
            <th class="border-0"><a href="/apartments?sort=laundry" class="btn <%= (order === 'laundry') ? 'btn-dark' : 'btn-primary' -%>">Laundry</a></th>
            <th class="border-0"><a href="/apartments?sort=parking" class="btn <%= (order === 'parking') ? 'btn-dark' : 'btn-primary' -%>">Parking</a></th>
            <th class="border-0"><a href="/apartments?sort=s_date" class="btn <%= (order === 's_date') ? 'btn-dark' : 'btn-primary' -%>">Lease start date</a></th>
            <th class="border-0"><a href="/apartments?sort=e_date" class="btn <%= (order === 'e_date') ? 'btn-dark' : 'btn-primary' -%>">Lease end date</a></th>
            <th class="border-0"><a href="/apartments?sort=ac" class="btn <%= (order === 'ac') ? 'btn-dark' : 'btn-primary' -%>">AC</a></th>
            <th class="border-0"><a href="/apartments?sort=u_num" class="btn <%= (order === 'u_num') ? 'btn-dark' : 'btn-primary' -%>">Unit Number</a></th>
          </tr>
          </thead>
        <tbody>
          <%_ for (const apartment of apartments) { -%>
            <tr>
              <td><a href="/properties/<%= apartment.property -%>"><%= apartment.property -%></a></td>
              <td><%= apartment.n_rooms -%></td>
              <td><%= apartment.n_bathrooms -%></td>
              <td><%= apartment.listed -%></td>
              <td><%= apartment.furnished -%></td>
              <td><%= apartment.floor -%></td>
              <td><%= apartment.sqFoot -%></td>
              <td><%= apartment.pets -%></td>
              <td><%= apartment.laundry -%></td>
              <td><%= apartment.parking -%></td>
              <td><%= apartment.s_date -%></td>
              <td><%= apartment.e_date -%></td>
              <td><%= apartment.ac -%></td>
              <td><%= apartment.u_num -%></td>
            </tr>
          <%_ } -%>
        </tbody>
      </table>
    </main>
  </body>
</html>
