<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'apartments'}); -%>
    <main class="p-3">
      <table class="table">
        <thead>
          <tr>
            <th class="border-0"><a href="/apartments?sort=n_rooms" class="btn <%= (order === 'n_rooms') ? 'btn-dark' : 'btn-primary' -%>">Number of rooms</a></th>
            <th class="border-0"><a href="/apartments?sort=n_bathrooms" class="btn <%= (order === 'n_bathrooms') ? 'btn-dark' : 'btn-primary' -%>">Number of bathrooms</a></th>
            <th class="border-0"><a href="/apartments?sort=listed" class="btn <%= (order === 'listed') ? 'btn-dark' : 'btn-primary' -%>">Listed</a></th>
            <th class="border-0"><a href="/apartments?sort=furnished" class="btn <%= (order === 'furnished') ? 'btn-dark' : 'btn-primary' -%>">Furnished</a></th>
            <th class="border-0"><a href="/apartments?sort=floor" class="btn <%= (order === 'floor') ? 'btn-dark' : 'btn-primary' -%>">Floor</a></th>
            <th class="border-0"><a href="/apartments?sort=sqFoot" class="btn <%= (order === 'sqFoot') ? 'btn-dark' : 'btn-primary' -%>">Square Footage</a></th>
            <th class="border-0">Pets</th>
            <th class="border-0">Laundry</th>
            <th class="border-0">Parking</th>
            <th class="border-0">Lease start date</th>
            <th class="border-0">Lease end date</th>
            <th class="border-0">AC</th>
            <th class="border-0">Unit Number</th>
          </tr>
          </thead>
        <tbody>
          <%_ for (const apartment of apartments) { -%>
            <tr>
              <td><%= apartment.n_rooms -%></td>
              <td><%= apartment.n_bathrooms -%></td>
              <td><%= apartment.listed -%></td>
              <td><%= apartment.furnished -%></td>
              <td><%= apartment.floor -%></td>
              <td><%= apartment.sqFoot -%></td>
              <td><%= apartment.pets -%></td>
              <td><%= apartment.laundry -%></td>
              <td><%= apartment.parking -%></td>
              <td><%= apartment.s_date -%></td>
              <td><%= apartment.e_date -%></td>
              <td><%= apartment.ac -%></td>
              <td><%= apartment.u_num -%></td>
            </tr>
          <%_ } -%>
        </tbody>
      </table>
    </main>
  </body>
</html>
