<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'edit'}); -%>
    <ul class="nav nav-tabs">
      <%_ for (const prop of properties) { -%>
        <%_ const status = (prop.id === property.id) ? 'active bg-dark' : 'inactive' -%>
      <li class="nav-item">
        <a href="/properties/edit/<%= prop.id -%>" class="nav-item nav-link text-info <%= status -%>"><%= prop.name-%></a>
      </li>
      <%_ } -%>
  </ul>
  <main class="container-fluid">
    <div class="row">
      <div class="col p-1 m-1">
          <button id="delete" class="btn btn-info"><i class="fa fa-trash"></i>Delete Property</button>
      </div>
      <div id="success">

      </div>
    </div>
  <div class="row">
  <%_ for (const apart of apartments) { -%>
    <form id="<%= apart.id -%>" class="card m-2 p-2 bg-dark text-white" style="width: 17rem;">

        <label for="Unit<%= apart.id -%>">Unit</label>
        <input id= "Unit<%= apart.id -%>" type="number" min="0" name="u_num" value="<%= apart.u_num -%>" class="form-control form-control-sm m-1 p-1 bg-light">

        <label for="Floor<%= apart.id -%>">Floor</label>
        <input id= "Floor<%= apart.id -%>" type="number" min="0"  name="floor" value="<%= apart.floor -%>" class="form-control form-control-sm m-1 p-1">

        <label for="sq/ft<%= apart.id -%>">sq/ft</label>
        <input id= "sq/ft<%= apart.id -%>" type="number" min="0" name="sqFoot" value="<%= apart.sqFoot -%>" class="form-control form-control-sm m-1 p-1">

        <label for="Rooms<%= apart.id -%>">Rooms</label>
        <input id= "Rooms<%= apart.id -%>" type="number" min="0" name="n_rooms" value="<%= apart.n_rooms -%>" class="form-control form-control-sm m-1 p-1">

        <label for="Bathrooms<%= apart.id -%>">Bathrooms</label>
        <input id= "Bathrooms<%= apart.id -%>" type="number" min="0" name="n_bathrooms" value="<%= apart.n_bathrooms -%>" class="form-control form-control-sm m-1 p-1">

        <label for="Lease-start<%= apart.id -%>">Lease-start</label>
        <input id= "Lease-start<%= apart.id -%>" type="date" name="s_date" value="<%= apart.s_date -%>" class="form-control form-control-sm m-1 p-1">

        <label for="Lease-end<%= apart.id -%>">Lease-end</label>
        <input id= "Lease-end<%= apart.id -%>" type="date" name="e_date" value="<%= apart.e_date -%>" class="form-control form-control-sm m-1 p-1">

        <!-- furnished -->
        <%_ if (apart.furnished){-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input" type="checkbox" name="furnished" value ="true" id="Furnished<%= apart.id -%>" checked>
            <label class="custom-control-label" for="Furnished<%= apart.id -%>">Furnished</label>
          </div>
        <%_} else{-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input" type="checkbox" name="furnished" value ="true" id="Furnished<%= apart.id -%>">
            <label class="custom-control-label" for="Furnished<%= apart.id -%>">Furnished</label>
          </div>
        <%_}-%>

        <!-- Laundry avalible -->
        <%_ if (apart.laundry){-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input" type="checkbox" name="laundry" value ="true" id = "Laundry<%= apart.id -%>" checked>
            <label class="custom-control-label" for="Laundry<%= apart.id -%>">Laundry</label>
          </div>
        <%_} else{-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input" type="checkbox" name="laundry" value ="true" id = "Laundry<%= apart.id -%>">
            <label class="custom-control-label" for="Laundry<%= apart.id -%>">Laundry</label>
          </div>
        <%_}-%>

        <!-- ac available -->
        <%_ if (apart.ac){-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input " type="checkbox" name="ac" value ="true" id = "AC<%= apart.id -%>" checked>
            <label class="custom-control-label" for="AC<%= apart.id -%>">AC</label>
          </div>
        <%_} else{-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input " type="checkbox" name="ac" value ="true" id = "AC<%= apart.id -%>">
            <label class="custom-control-label" for="AC<%= apart.id -%>">AC</label>
          </div>
        <%_}-%>
          <!-- Pets allowed -->
        <%_ if (apart.pets){-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input" type="checkbox" name="pets" value ="true" id = "Pets<%= apart.id -%>" checked>
            <label class="custom-control-label" for="Pets<%= apart.id -%>">Pets</label>
          </div>
        <%_} else{-%>
            <div class="custom-control custom-checkbox form-check">
              <input class="custom-control-input" type="checkbox" name="pets" value ="true" id = "Pets<%= apart.id -%>" >
              <label class="custom-control-label" for="Pets<%= apart.id -%>">Pets</label>
            </div>
        <%_}-%>
          <!-- parking avalible -->
        <%_ if (apart.parking){-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input" type="checkbox" name="parking" value ="true" id = "Parking<%= apart.id -%>" checked>
            <label class="custom-control-label" for="Parking<%= apart.id -%>">Parking</label>
          </div>
          <%_} else{-%>
            <div class="custom-control custom-checkbox form-check">
              <input class="custom-control-input" type="checkbox" name="parking" value ="true" id = "Parking<%= apart.id -%>">
              <label class="custom-control-label" for="Parking<%= apart.id -%>">Parking</label>
            </div>
        <%_}-%>
          <!-- Listed -->
        <%_ if (apart.listed){-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input" type="checkbox" name="listed" value ="true" id="Listed<%= apart.id -%>" checked>
            <label class="custom-control-label" for="Listed<%= apart.id -%>">Listed</label>
          </div>
        <%_} else{-%>
          <div class="custom-control custom-checkbox form-check">
            <input class="custom-control-input" type="checkbox" name="listed" value ="true" id="Listed<%= apart.id -%>">
            <label class="custom-control-label" for="Listed<%= apart.id -%>">Listed</label>
          </div>
        <%_}-%>



      <button class="update btn btn-sm btn-info m-1 ">Save</button>
      <button class="delete btn btn-sm btn-info m-1 ">Delete</button>
    </form>
  <%_ } -%>
        </div>
      </main>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

      // Update a course
      $('.update').on('click', function(event) {
        const form = $(this).closest('form');
        event.preventDefault();
        $.ajax({method: 'put', url:`/apartments/${form.attr('id')}`, data: form.serialize()})
          .fail(error => alert(error.responseText));
          $('#success').append($(`
          <div id="alert1">

    <div class="alert alert-success alert-dismissible fade show">
        <strong>Success! Your change is successful.</strong>
        <button type="submit" class="close" data-dismiss="alert">&times</button>
        </div>

        </div>`
        ));

      });

      $(document).on('click','.close',function(event) {
        const form = $(this);
        event.preventDefault();
        $('#alert1').remove();
      });


      // Delete a course
      $('#delete').on('click', function(event) {
        event.preventDefault();
        $.ajax({method: 'delete', url: '/properties/<%= property.id -%>'})
          .done(() => window.location.replace('/properties'))
          .fail(error => alert(error.responseText));
      });

      // Delete a course
      $('.delete').on('click', function(event) {
        event.preventDefault();
        const form = $(this).closest('form');
        $.ajax({method: 'delete', url: `/apartments/${form.attr('id')}`})
          .done(() => window.location.reload())
          .fail(error => alert(error.responseText));
      });
    </script>
  </body>
</html>
