<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar',{active: 'vp'}); -%>
    <ul class="nav nav-tabs">
    <%_ for (const prop of properties) { -%>
      <%_ const status = (prop.id === property.id) ? 'active bg-dark' : 'inactive' -%>
    <li class="nav-item">
      <a href="/properties/<%= prop.id -%>" class="nav-item nav-link text-info <%= status -%>"><%= prop.name-%></a>
    </li>
    <%_ } -%>
  </ul>
    <div class="container-fluid">
      <div class="row">
        </div>
        <div class="col">
          <main class="p-3">
            <p><%= property.address-%></p>
            <table class="table">
              <thead>
                <tr>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=u_num" class="btn <%= (order === 'u_num') ? 'btn-dark' : 'btn-info' -%>">Unit</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=floor" class="btn <%= (order === 'floor') ? 'btn-dark' : 'btn-info' -%>">Floor</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=sqFoot" class="btn <%= (order === 'sqFoot') ? 'btn-dark' : 'btn-info' -%>">Sq/ft</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=n_rooms" class="btn <%= (order === 'n_rooms') ? 'btn-dark' : 'btn-info' -%>">Rooms</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=n_bathrooms" class="btn <%= (order === 'n_bathrooms') ? 'btn-dark' : 'btn-info' -%>">Bathrooms</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=furnished" class="btn <%= (order === 'furnished') ? 'btn-dark' : 'btn-info' -%>">Furnished</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=laundry" class="btn <%= (order === 'laundry') ? 'btn-dark' : 'btn-info' -%>">Laundry</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=ac" class="btn <%= (order === 'ac') ? 'btn-dark' : 'btn-info' -%>">AC</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=pets" class="btn <%= (order === 'pets') ? 'btn-dark' : 'btn-info' -%>">Pets</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=parking" class="btn <%= (order === 'parking') ? 'btn-dark' : 'btn-info' -%>">Parking</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=listed" class="btn <%= (order === 'listed') ? 'btn-dark' : 'btn-info' -%>">Listed</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=s_date" class="btn <%= (order === 's_date') ? 'btn-dark' : 'btn-info' -%>">Lease-start</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=e_date" class="btn <%= (order === 'e_date') ? 'btn-dark' : 'btn-info' -%>">Lease-end</a></th>

                </tr>
                </thead>
              <tbody>
                <%_ for (const apartment of apartments) { -%>
                  <tr>
                    <td><%= apartment.u_num -%></td>
                    <td><%= apartment.floor -%></td>
                    <td><%= apartment.sqFoot -%></td>
                    <td><%= apartment.n_rooms -%></td>
                    <td><%= apartment.n_bathrooms -%></td>
                    <%_ const status_furnished = (apartment.furnished) ? 'Yes' : 'No' -%>
                      <td><%= status_furnished -%></td>
                    <%_ const status_laundry = (apartment.laundry) ? 'Yes' : 'No' -%>
                      <td><%= status_laundry -%></td>
                    <%_ const status_ac = (apartment.ac) ? 'Yes' : 'No' -%>
                      <td><%= status_ac -%></td>
                    <%_ const status_pets = (apartment.pets) ? 'Yes' : 'No' -%>
                      <td><%= status_pets -%></td>
                    <%_ const status_parking = (apartment.parking) ? 'Yes' : 'No' -%>
                      <td><%= status_parking -%></td>
                    <%_ const status_listing = (apartment.listed) ? 'Yes' : 'No' -%>
                      <td><%= status_listing -%></td>
                    <%_ if (apartment.s_date){-%>
                      <td><%=  apartment.s_date.toUTCString().slice(4,apartment.s_date.toUTCString().length) -%></td>
                    <%_}-%>
                    <%_ if (apartment.e_date){-%>
                      <td><%= apartment.e_date.toUTCString().slice(4,apartment.s_date.toUTCString().length) -%></td>
                    <%_}-%>
                  </tr>
                <%_ } -%>
              </tbody>
            </table>
          </main>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

      // Update a course
      $('#update').on('submit', function(event) {
        const form = $(this);
        event.preventDefault();
        $.ajax({method: 'put', url: '/properties/<%= property.id -%>', data: form.serialize()})
          .fail(error => alert(error.responseText));
      });

      // Delete a course
      $('#delete').on('click', function(event) {
        event.preventDefault();
        $.ajax({method: 'delete', url: '/properties/<%= property.id -%>'})
          .done(() => window.location.replace('/properties'))
          .fail(error => alert(error.responseText));
      });
    </script>
  </body>
</html>
