<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'properties'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <%_ for (const prop of properties) { -%>
              <%_ const status = (prop.id === property.id) ? 'active bg-dark' : 'inactive' -%>
              <a href="/properties/<%= prop.id -%>" class="nav-item nav-link <%= status -%>"><%= prop.address-%>, # of apartments: <%= prop.n_apart-%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col">
          <main class="p-3">
            <table class="table">
              <thead>
                <tr>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=n_rooms" class="btn <%= (order === 'n_rooms') ? 'btn-dark' : 'btn-primary' -%>">Number of rooms</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=n_bathrooms" class="btn <%= (order === 'n_bathrooms') ? 'btn-dark' : 'btn-primary' -%>">Number of bathrooms</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=listed" class="btn <%= (order === 'listed') ? 'btn-dark' : 'btn-primary' -%>">Listed</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=furnished" class="btn <%= (order === 'furnished') ? 'btn-dark' : 'btn-primary' -%>">Furnished</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=floor" class="btn <%= (order === 'floor') ? 'btn-dark' : 'btn-primary' -%>">Floor</a></th>
                  <th class="border-0"><a href="/properties?sort=sqFoot" class="btn <%= (order === 'sqFoot') ? 'btn-dark' : 'btn-primary' -%>">Square Footage</a></th>
                  <th class="border-0"><a href="/properties?sort=pets" class="btn <%= (order === 'pets') ? 'btn-dark' : 'btn-primary' -%>">Pets</a></th>
                  <th class="border-0"><a href="/properties?sort=laundry" class="btn <%= (order === 'laundry') ? 'btn-dark' : 'btn-primary' -%>">Laundry</a></th>
                  <th class="border-0"><a href="/properties?sort=parking" class="btn <%= (order === 'parking') ? 'btn-dark' : 'btn-primary' -%>">Parking</a></th>
                  <th class="border-0"><a href="/properties?sort=s_date" class="btn <%= (order === 's_date') ? 'btn-dark' : 'btn-primary' -%>">Lease start date</a></th>
                  <th class="border-0"><a href="/properties?sort=e_date" class="btn <%= (order === 'e_date') ? 'btn-dark' : 'btn-primary' -%>">Lease end date</a></th>
                  <th class="border-0"><a href="/properties?sort=ac" class="btn <%= (order === 'ac') ? 'btn-dark' : 'btn-primary' -%>">AC</a></th>
                  <th class="border-0"><a href="/properties?sort=u_num" class="btn <%= (order === 'u_num') ? 'btn-dark' : 'btn-primary' -%>">Unit Number</a></th>
                </tr>
                </thead>
              <tbody>
                <%_ for (const apartment of apartments) { -%>
                  <tr>
                    <td><%= apartment.n_rooms -%></td>
                    <td><%= apartment.n_bathrooms -%></td>
                    <%_ const status_listing = (apartment.listed) ? 'Listed' : 'Not Listed' -%>
                      <td><%= status_listing -%></td>
                    <%_ const status_furnished = (apartment.furnished) ? 'Furnished' : 'Not Furnished' -%>
                      <td><%= status_furnished -%></td>
                    <td><%= apartment.floor -%></td>
                    <td><%= apartment.sqFoot -%></td>
                    <%_ const status_pets = (apartment.pets) ? 'Allowed' : 'Not Allowed' -%>
                      <td><%= status_pets -%></td>
                    <%_ const status_laundry = (apartment.laundry) ? 'Available' : 'Not Available' -%>
                      <td><%= status_laundry -%></td>
                    <%_ const status_parking = (apartment.parking) ? 'Available' : 'Not Available' -%>
                      <td><%= status_parking -%></td>
                    <td><%= apartment.s_date -%></td>
                    <td><%= apartment.e_date -%></td>
                    <%_ const status_ac = (apartment.ac) ? 'Available' : 'Not Available' -%>
                      <td><%= status_ac -%></td>
                    <td><%= apartment.u_num -%></td>
                  </tr>
                <%_ } -%>
              </tbody>
            </table>
          </main>
        </div>
      </div>
    </div>

  </body>
</html>
