<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'properties'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <%_ for (const prop of properties) { -%>
              <% const status = (prop.id === property.id) ? 'active bg-dark' : 'inactive' -%>
              <a href="/properties/<%= prop.id -%>" class="nav-item nav-link <%= status -%>"><%= prop.address-%>, # of apartments: <%= prop.n_apart-%></a>
            <%_ } -%>
          </nav>
          <%_ if (admin) { -%>
            <form id="create" class="form my-1">
              <input type="text" name="_id" placeholder="Property" size="1" class="form-control">
            </form>
          <%_ } -%>
        </div>
        <div class="col">
          <main class="p-3">
            <%_ if (admin) { -%>
             <%- include('./edit', {property: property, propertyIDs: propertyIDs}); -%>
           <%_ } else { -%>
             <%- include('./browse', {property: property}); -%>
           <%_ } -%>
            <table class="table">
              <thead>
                <tr>
                  <th class="border-0">Number of rooms</th>
                  <th class="border-0">Number of bathrooms</th>
                  <th class="border-0">Listed</th>
                  <th class="border-0">Furnished</th>
                  <th class="border-0">Floor</th>
                  <th class="border-0">Square Footage</th>
                  <th class="border-0">Pets</th>
                  <th class="border-0">Laundry</th>
                  <th class="border-0">Parking</th>
                  <th class="border-0">Lease start date</th>
                  <th class="border-0">Lease end date</th>
                  <th class="border-0">AC</th>
                  <th class="border-0">Unit Number</th>
                </tr>
                </thead>
              <tbody>
                <%_ for (const apartment of apartments) { -%>
                  <tr>
                    <td><%= apartment.n_rooms -%></td>
                    <td><%= apartment.n_bathrooms -%></td>
                    <% const status_listing = (apartment.listed) ? 'Listed' : 'Not Listed' -%>
                      <td><%= status_listing -%></td>
                    <% const status_furnished = (apartment.furnished) ? 'Furnished' : 'Not Furnished' -%>
                      <td><%= status_furnished -%></td>
                    <td><%= apartment.floor -%></td>
                    <td><%= apartment.sqFoot -%></td>
                    <% const status_pets = (apartment.pets) ? 'Allowed' : 'Not Allowed' -%>
                      <td><%= status_pets -%></td>
                    <% const status_laundry = (apartment.laundry) ? 'Available' : 'Not Available' -%>
                      <td><%= status_laundry -%></td>
                    <% const status_parking = (apartment.parking) ? 'Available' : 'Not Available' -%>
                      <td><%= status_parking -%></td>
                    <td><%= apartment.s_date -%></td>
                    <td><%= apartment.e_date -%></td>
                    <% const status_ac = (apartment.ac) ? 'Available' : 'Not Available' -%>
                      <td><%= status_ac -%></td>
                    <td><%= apartment.u_num -%></td>
                  </tr>
                <%_ } -%>
              </tbody>
            </table>
          </main>
        </div>
      </div>
    </div>
    <%_ if (admin) { -%>
     <%- include('./scripts', {property: property}); -%>
   <%_ } -%>
  </body>
</html>
