<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar'); -%>
    <ul class="nav nav-tabs">
    <%_ for (const prop of properties) { -%>
      <%_ const status = (prop.id === property.id) ? 'active bg-dark' : 'inactive' -%>
    <li class="nav-item">
      <a href="/properties/<%= prop.id -%>" class="nav-item nav-link <%= status -%>"><%= prop.address-%></a>
    </li>
    <%_ } -%>
  </ul>
    <div class="container-fluid">
      <div class="row">
        </div>
        <div class="col">
          <main class="p-3">
            <%- include('./edit', {property: property, properties: properties}); -%>
            <table class="table">
              <thead>
                <tr>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=u_num" class="btn <%= (order === 'u_num') ? 'btn-dark' : 'btn-primary' -%>">Unit</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=floor" class="btn <%= (order === 'floor') ? 'btn-dark' : 'btn-primary' -%>">Floor</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=sqFoot" class="btn <%= (order === 'sqFoot') ? 'btn-dark' : 'btn-primary' -%>">Sq/ft</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=n_rooms" class="btn <%= (order === 'n_rooms') ? 'btn-dark' : 'btn-primary' -%>">Rooms</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=n_bathrooms" class="btn <%= (order === 'n_bathrooms') ? 'btn-dark' : 'btn-primary' -%>">Bathrooms</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=furnished" class="btn <%= (order === 'furnished') ? 'btn-dark' : 'btn-primary' -%>">Furnished</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=laundry" class="btn <%= (order === 'laundry') ? 'btn-dark' : 'btn-primary' -%>">Laundry</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=ac" class="btn <%= (order === 'ac') ? 'btn-dark' : 'btn-primary' -%>">AC</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=pets" class="btn <%= (order === 'pets') ? 'btn-dark' : 'btn-primary' -%>">Pets</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=parking" class="btn <%= (order === 'parking') ? 'btn-dark' : 'btn-primary' -%>">Parking</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=listed" class="btn <%= (order === 'listed') ? 'btn-dark' : 'btn-primary' -%>">Listed</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=s_date" class="btn <%= (order === 's_date') ? 'btn-dark' : 'btn-primary' -%>">Lease-start</a></th>
                  <th class="border-0"><a href="/properties/<%= property.id -%>?sort=e_date" class="btn <%= (order === 'e_date') ? 'btn-dark' : 'btn-primary' -%>">Lease-end</a></th>

                </tr>
                </thead>
              <tbody>
                <%_ for (const apartment of apartments) { -%>
                  <tr>
                    <td><%= apartment.u_num -%></td>
                    <td><%= apartment.floor -%></td>
                    <td><%= apartment.sqFoot -%></td>
                    <td><%= apartment.n_rooms -%></td>
                    <td><%= apartment.n_bathrooms -%></td>
                    <%_ const status_furnished = (apartment.furnished) ? 'Yes' : 'No' -%>
                      <td><%= status_furnished -%></td>
                    <%_ const status_laundry = (apartment.laundry) ? 'Yes' : 'No' -%>
                      <td><%= status_laundry -%></td>
                    <%_ const status_ac = (apartment.ac) ? 'Yes' : 'No' -%>
                      <td><%= status_ac -%></td>
                    <%_ const status_pets = (apartment.pets) ? 'Yes' : 'No' -%>
                      <td><%= status_pets -%></td>
                    <%_ const status_parking = (apartment.parking) ? 'Yes' : 'No' -%>
                      <td><%= status_parking -%></td>
                    <%_ const status_listing = (apartment.listed) ? 'Yes' : 'No' -%>
                      <td><%= status_listing -%></td>
                    <td><%= apartment.s_date.toDateString() -%></td>
                    <td><%= apartment.e_date.toDateString() -%></td>

                  </tr>
                <%_ } -%>
              </tbody>
            </table>

          </main>
        </div>
      </div>
    </div>
    <%- include('./scripts', {property: property}); -%>
  </body>
</html>
